In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
import nltk

In [6]:
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\LENOVO\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\LENOVO\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [7]:
pip install -U textblob

Collecting textblob
  Downloading textblob-0.17.1-py2.py3-none-any.whl (636 kB)
     -------------------------------------- 636.8/636.8 kB 6.7 MB/s eta 0:00:00
Requirement already satisfied: nltk>=3.1 in c:\programdata\anaconda3\lib\site-packages (from textblob) (3.7)
Requirement already satisfied: regex>=2021.8.3 in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2022.3.15)
Requirement already satisfied: joblib in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (8.0.4)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.64.1)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click->nltk>=3.1->textblob) (0.4.5)
Installing collected packages: textblob
Successfully installed textblob-0.17.1
Note: you may need to restart the kernel to use updated packages.

In [34]:
!pip install -U spacy

Requirement already satisfied: spacy in c:\programdata\anaconda3\lib\site-packages (3.4.1)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in c:\programdata\anaconda3\lib\site-packages (from spacy) (2.0.7)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in c:\programdata\anaconda3\lib\site-packages (from spacy) (4.64.1)
Requirement already satisfied: thinc<8.2.0,>=8.1.0 in c:\programdata\anaconda3\lib\site-packages (from spacy) (8.1.3)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from spacy) (21.3)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in c:\programdata\anaconda3\lib\site-packages (from spacy) (3.3.0)
Requirement already satisfied: jinja2 in c:\programdata\anaconda3\lib\site-packages (from spacy) (2.11.3)
Requirement already satisfied: numpy>=1.15.0 in c:\programdata\anaconda3\lib\site-packages (from spacy) (1.21.5)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in c:\programdata\anaconda3\lib\site-packages (from spacy) (1.0.1)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from spacy) (3.0.6)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in c:\programdata\anaconda3\lib\site-packages (from spacy) (0.4.1)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.9 in c:\programdata\anaconda3\lib\site-packages (from spacy) (3.0.9)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in c:\programdata\anaconda3\lib\site-packages (from spacy) (2.4.3)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from spacy) (2.0.6)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.10.0,>=1.7.4 in c:\programdata\anaconda3\lib\site-packages (from spacy) (1.9.0)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from spacy) (65.4.1)
Requirement already satisfied: pathy>=0.3.5 in c:\programdata\anaconda3\lib\site-packages (from spacy) (0.6.2)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in c:\programdata\anaconda3\lib\site-packages (from spacy) (2.28.1)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in c:\programdata\anaconda3\lib\site-packages (from spacy) (1.0.7)
Requirement already satisfied: wasabi<1.1.0,>=0.9.1 in c:\programdata\anaconda3\lib\site-packages (from spacy) (0.10.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from packaging>=20.0->spacy) (3.0.9)
Requirement already satisfied: smart-open<6.0.0,>=5.2.1 in c:\programdata\anaconda3\lib\site-packages (from pathy>=0.3.5->spacy) (5.2.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\programdata\anaconda3\lib\site-packages (from pydantic!=1.8,!=1.8.1,<1.10.0,>=1.7.4->spacy) (4.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.3)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in c:\programdata\anaconda3\lib\site-packages (from thinc<8.2.0,>=8.1.0->spacy) (0.0.3)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in c:\programdata\anaconda3\lib\site-packages (from thinc<8.2.0,>=8.1.0->spacy) (0.7.8)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from tqdm<5.0.0,>=4.38.0->spacy) (0.4.5)
Requirement already satisfied: click<9.0.0,>=7.1.1 in c:\programdata\anaconda3\lib\site-packages (from typer<0.5.0,>=0.3.0->spacy) (8.0.4)
Requirement already satisfied: MarkupSafe>=0.23 in c:\programdata\anaconda3\lib\site-packages (from jinja2->spacy) (2.1.1)

In [35]:
from nltk.corpus import stopwords
from textblob import TextBlob

In [36]:
from nltk.stem import PorterStemmer
from textblob import Word

# Loading the Dataset

In [43]:
review= pd.read_csv('Elon_musk.csv',encoding='latin1',index_col=0)

In [44]:
review.head()

                                                                                                       Text
1                                                                                    @kunalb11 Im an alien
2                        @ID_AA_Carmack Ray tracing on Cyberpunk with HDR is next-level. Have you tried it?
3                                                                       @joerogan @Spotify Great interview!
4                                                                           @gtera27 Doge is underestimated
5  @teslacn Congratulations Tesla China for amazing execution last year. Now on to the next for even more!!

In [45]:
review.shape

(1999, 1)

In [46]:
review.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1999 entries, 1 to 1999
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Text    1999 non-null   object
dtypes: object(1)
memory usage: 31.2+ KB

In [47]:
# Copy of Data
review_1=review.copy()

In [48]:
review_1

                                                                                                                                                  Text
1                                                                                                                               @kunalb11 Im an alien
2                                                                   @ID_AA_Carmack Ray tracing on Cyberpunk with HDR is next-level. Have you tried it?
3                                                                                                                  @joerogan @Spotify Great interview!
4                                                                                                                      @gtera27 Doge is underestimated
5                                             @teslacn Congratulations Tesla China for amazing execution last year. Now on to the next for even more!!
...                                                                                                                                                ...
1995  @flcnhvy True, it sounds so surreal, but the negative propaganda is still all out there &amp; easy to find in social me
 https://t.co/WJRzIbKh1H
1996                                                                     @PPathole Make sure to read ur terms &amp; conditions before clicking accept!
1997                                                                                                               @TeslaGong @PPathole Samwise Gamgee
1998                                                                                       @PPathole Altho Dumb and Dumber is <U+0001F525><U+0001F525>
1999                                                                                                                         Progress update August 28

[1999 rows x 1 columns]

In [49]:
review_1['word_count']= review['Text'].apply(lambda x: len(str(x).split(' ')))
review_1.head()

,Text,word_count
1,@kunalb11 Im an alien,4
2,@ID_AA_Carmack Ray tracing on Cyberpunk with HDR is next-level. Have you tried it?,13
3,@joerogan @Spotify Great interview!,4
4,@gtera27 Doge is underestimated,4
5,@teslacn Congratulations Tesla China for amazing execution last year. Now on to the next for even more!!,17

In [50]:
from sklearn.feature_extraction import text

In [51]:
my_stop_words = stopwords.words('english')
review_1['Stopwords'] = review_1['Text'].apply(lambda x: len(str(x).split(' ')))
review_1[['Text','Stopwords']]

,Text,Stopwords
1,@kunalb11 Im an alien,4
2,@ID_AA_Carmack Ray tracing on Cyberpunk with HDR is next-level. Have you tried it?,13
3,@joerogan @Spotify Great interview!,4
4,@gtera27 Doge is underestimated,4
5,@teslacn Congratulations Tesla China for amazing execution last year. Now on to the next for even more!!,17
...,...,...
1995,"@flcnhvy True, it sounds so surreal, but the negative propaganda is still all out there &amp; easy to find in social me https://t.co/WJRzIbKh1H",23
1996,@PPathole Make sure to read ur terms &amp; conditions before clicking accept!,12
1997,@TeslaGong @PPathole Samwise Gamgee,4
1998,@PPathole Altho Dumb and Dumber is <U+0001F525><U+0001F525>,7
1999,Progress update August 28,4

In [64]:
my_stop_words= text.ENGLISH_STOP_WORDS

print("Few stop word:",list(my_stop_words)[0:10])

Few stop word: ['toward', 'would', 'anyway', 'others', 'every', 'thereupon', 'except', 'nothing', 'behind', 'nor']

In [70]:
# Removing Stopwords
stop= stopwords.words('english')
review_1['Text']=review_1['Text'].apply(lambda x: ' '.join(x for x in x.split() if x not in stop))
review_1['Text'].head()

1                                                                       @kunalb11 Im alien
2                       @ID_AA_Carmack Ray tracing Cyberpunk HDR next-level. Have tried it?
3                                                       @joerogan @Spotify Great interview!
4                                                              @gtera27 Doge underestimated
5    @teslacn Congratulations Tesla China amazing execution last year. Now next even more!!
Name: Text, dtype: object

In [71]:
# lowercase
review_1['Text']= review_1['Text'].apply(lambda x:' '.join(x.lower() for x in x.split()))
review_1['Text'].head()

1                                                                       @kunalb11 im alien
2                       @id_aa_carmack ray tracing cyberpunk hdr next-level. have tried it?
3                                                       @joerogan @spotify great interview!
4                                                              @gtera27 doge underestimated
5    @teslacn congratulations tesla china amazing execution last year. now next even more!!
Name: Text, dtype: object

In [72]:
# Remove Punctuation
review_1['Text']= review_1['Text'].str.replace('[^\w]',' ')
review_1['Text'].head()

1                                                                        kunalb11 i m alien
2                        id_aa_carmack ray tracing cyberpunk hdr next level  have tried it
3                                                        joerogan  spotify great interview
4                                                               gtera27 doge underestimated
5     teslacn congratulations tesla china amazing execution last year  now next even more
Name: Text, dtype: object

# Tokenization

In [75]:
TextBlob(review_1['Text'][2]).words

WordList(['id_aa_carmack', 'ray', 'tracing', 'cyberpunk', 'hdr', 'next', 'level', 'have', 'tried', 'it'])

In [76]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\LENOVO\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

# Stemming

In [78]:
from nltk.stem import PorterStemmer
st = PorterStemmer()
review_1['Text'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

1                                                        kunalb11 i m alien
2              id_aa_carmack ray trace cyberpunk hdr next level have tri it
3                                          joerogan spotifi great interview
4                                                   gtera27 doge underestim
5    teslacn congratul tesla china amaz execut last year now next even more
Name: Text, dtype: object

# Lemmatization

In [79]:
from textblob import Word

In [81]:
review_1['Text'] = review_1['Text'].apply(lambda x: ' '.join([Word(word).lemmatize() for word in x.split()]))
review_1['Text'].head()

1                                                                   kunalb11 i m alien
2                     id_aa_carmack ray tracing cyberpunk hdr next level have tried it
3                                                     joerogan spotify great interview
4                                                          gtera27 doge underestimated
5    teslacn congratulation tesla china amazing execution last year now next even more
Name: Text, dtype: object

# Using N-Grams

In [83]:
TextBlob(review_1['Text'][1]).ngrams(3)

[WordList(['kunalb11', 'i', 'm']), WordList(['i', 'm', 'alien'])]

# Term Frequency

In [85]:
tf1 = (review_1['Text'][1:2]).apply(lambda x: pd.value_counts(x.split(' '))).sum(axis=0).reset_index()
tf1.columns = ['words','tf']
tf1

           words  tf
0  id_aa_carmack   1
1            ray   1
2        tracing   1
3      cyberpunk   1
4            hdr   1
5           next   1
6          level   1
7           have   1
8          tried   1
9             it   1

# Inverse Document Frequency(IDF)

In [88]:
for i,word in enumerate(tf1['words']):
  tf1.loc[i, 'idf'] = np.log(review_1.shape[0]/(len(review_1[review_1['Text'].str.contains(word)])))

tf1

           words  tf       idf
0  id_aa_carmack   1  4.166415
1            ray   1  5.035453
2        tracing   1  7.600402
3      cyberpunk   1  5.115496
4            hdr   1  6.907255
5           next   1  3.936841
6          level   1  5.297817
7           have   1  5.520961
8          tried   1  5.808643
9             it   1  1.594049

# Term Frequency - Inverse Document Frequency (TF-IDF)

In [89]:
tf1['tfidf'] = tf1['tf']*tf1['idf']
tf1

           words  tf       idf     tfidf
0  id_aa_carmack   1  4.166415  4.166415
1            ray   1  5.035453  5.035453
2        tracing   1  7.600402  7.600402
3      cyberpunk   1  5.115496  5.115496
4            hdr   1  6.907255  6.907255
5           next   1  3.936841  3.936841
6          level   1  5.297817  5.297817
7           have   1  5.520961  5.520961
8          tried   1  5.808643  5.808643
9             it   1  1.594049  1.594049

In [91]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word',
 stop_words= 'english',ngram_range=(1,1))
vect = tfidf.fit_transform(review_1['Text'])
vect

<1999x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 9460 stored elements in Compressed Sparse Row format>

# Bag of Words

In [92]:
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer(max_features = 1000, lowercase = True, ngram_range=(1,1), analyzer='word')
review_1_bow = bow.fit_transform(review_1['Text'])
review_1_bow

<1999x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 11532 stored elements in Compressed Sparse Row format>

# Sentiment Analysis

In [93]:
review_1['Text'][:5].apply(lambda x:TextBlob(x).sentiment)

1                  (-0.25, 0.75)
2                     (0.0, 0.0)
3                    (0.8, 0.75)
4                     (0.0, 0.0)
5    (0.275, 0.3666666666666667)
Name: Text, dtype: object

In [94]:
review_1['Sentiment'] = review_1['Text'].apply(lambda x: TextBlob(x).sentiment[0])
review_1[['Text','Sentiment']].head()

,Text,Sentiment
1,kunalb11 i m alien,-0.250
2,id_aa_carmack ray tracing cyberpunk hdr next level have tried it,0.000
3,joerogan spotify great interview,0.800
4,gtera27 doge underestimated,0.000
5,teslacn congratulation tesla china amazing execution last year now next even more,0.275

In [96]:
review_1.describe()

        word_count    Stopwords    Sentiment
count  1999.000000  1999.000000  1999.000000
mean     10.554777    10.554777     0.124147
std       6.693406     6.693406     0.255565
min       1.000000     1.000000    -1.000000
25%       4.000000     4.000000     0.000000
50%       9.000000     9.000000     0.000000
75%      17.000000    17.000000     0.250000
max      30.000000    30.000000     1.000000